/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
} */
.slide-container2{
 
  width: 100%;
  padding: 40px 0;
  background-color: #FFF;
} 
.slide-container2 h2 {
  display: flex;
  justify-content: center;
  padding: 10px 0 30px 0;
  color: #b2040e;
}
.slide-container2 a {
  color: #000;
}
.slide-container2 .slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
} 
.slide-container2 .card{

  background-color: #FFF;
  height: 500px;
  
} 
.slide-container2 .image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;

} 
.slide-container2 .image-content{
  position: relative;
 
 
} 
.slide-container2 .overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
 
} 
.slide-container2 .overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
} 
.slide-container2 .overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
} 
.slide-container2 .card-image{
  position: relative;
  height: 100%;
  width: 100%;
 
  background: #FFF;
 
} 
.slide-container2 .card-image .card-img{
  height: 310px;
  width: 100%;
  
  
 
} 
.slide-container2 .name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
} 
.slide-container2 .description{
  font-size: 14px;
  color: #707070;
  text-align: center;
} 
.slide-container2 .button{
  border: none;
  position: relative;
  top: -50px;
  left: 80px;
  box-shadow: 0 0 20px #000;
width: 100px;
height: 80px;
  font-size: 21px;
  color: #FFF;
  padding: 8px 30px;
  background-color: black;
  border-radius: 1px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
} 
.slide-container2 .button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
} 
.slide-container2 .swiper-navBtn:hover{
  color: #4070F4;
} 
.slide-container2 .swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
} 
.slide-container2 .swiper-button-next{
  right: 0;
} 
.slide-container2 .swiper-button-prev{
  left: 0;
} 
.slide-container2 .swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
} 
.slide-container2 .swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
 
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}