/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.slide-container2{  display: flex;
  flex-wrap: wrap;

  
  width: 100%;
  padding: 40px 0;
  background-color: #FFF;
}
h2 {  display: flex;
  flex-wrap: wrap;

  color:#b2040e;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.card-content a {  display: flex;
  flex-wrap: wrap;

  color: rgba(0, 0, 0, 0.769);
  font-weight: 500;
  font-size: 15px;
  position: relative;
  bottom: 40px;
}
.slide-container2 .slide-content{  display: flex;
  flex-wrap: wrap;

  max-width: 1120px;
  height: 500px;
  position: relative;
  left: 40px;
  margin: 0px 40px;
  overflow: hidden;
  border-radius: 25px;
}
.slide-container2 .card{  display: flex;
  flex-wrap: wrap;

  border-radius: 2px;
  background-color: #FFF;
  height: 460px;
}
.slide-container2 .image-content,
.card-content{  display: flex;
  flex-wrap: wrap;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.slide-container2 .image-content{  display: flex;
  flex-wrap: wrap;

  position: relative;
  row-gap: 0px;
  padding: 0px 0;
}
.slide-container2 .overlay{  display: flex;
  flex-wrap: wrap;

  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 2px;
}
.slide-container2 .overlay::before,
.overlay::after{  display: flex;
  flex-wrap: wrap;

  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.slide-container2 .overlay::after{  display: flex;
  flex-wrap: wrap;

  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.slide-container2 .card-image{  display: flex;
  flex-wrap: wrap;

  position: relative;
  height: 300px;
  width: 100%;
}
.slide-container2 .card-image .card-img{  display: flex;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
 
  

}
.slide-container2 .name{  display: flex;
  flex-wrap: wrap;

  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.slide-container2 .description{  display: flex;
  flex-wrap: wrap;

  font-size: 14px;
  color: #707070;
  text-align: center;
}
.slide-container2 .button{  display: flex;
  flex-wrap: wrap;

  position: relative;
  box-shadow: 0 0 20px #000;
  bottom: 70px;
  left: 100px;
  line-height: 1.7;
  font-weight: bold;
  height: 80px;
  width: 80px;
  border: none;
  font-size: 23px;
  color: #FFF;
  padding: 0px 10px;
  background-color: black;
  border-radius: 3px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slide-container2 .button:hover{  display: flex;
  flex-wrap: wrap;

  background: rgb(137, 0, 0);
  
}

.swiper-navBtn{  display: flex;
  flex-wrap: wrap;

  color: #6E93f7;
  transition: color 0.3s ease;
}
.slide-container2 .swiper-navBtn:hover{  display: flex;
  flex-wrap: wrap;

  color: #4070F4;
}
.slide-container2 .swiper-navBtn::before,
.swiper-navBtn::after{  display: flex;
  flex-wrap: wrap;

  font-size: 35px;
}
.slide-container2 .swiper-button-next{  display: flex;
  flex-wrap: wrap;

  right: 0;
}
.slide-container2 .swiper-button-prev{  display: flex;
  flex-wrap: wrap;

  left: 0;
}
.slide-container2 .swiper-pagination-bullet{  display: flex;
  flex-wrap: wrap;

  background-color: #6E93f7;
  opacity: 1;
}
.slide-container2 .swiper-pagination-bullet-active{  display: flex;
  flex-wrap: wrap;

  background-color: #4070F4;
}

@media screen and (max-width: 768px) {  display: flex;
  flex-wrap: wrap;

  .slide-content{  display: flex;
  flex-wrap: wrap;

    margin: 0 10px;
  }
  .swiper-navBtn{  display: flex;
  flex-wrap: wrap;

    display: none;
  }
  .slide-container2 .slide-content{  display: flex;
  flex-wrap: wrap;

    max-width: 1120px;
    height: 500px;
    position: relative;
    left: 0px;
    margin: 0px 40px;
    overflow: hidden;
    border-radius: 25px;
  }
}