:root {
  --primary-color:  #2056ae;
}    



body {
  font-family: 'Iranian Sans', Tahoma;
  background-color:#f2f2f2;
  color: #fff;
  line-height: 1;
  /*   direction: rtl; */  
}  
.rtl {
  direction: rtl;
}
.black {
  color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    

.flex {
    display: flex;
    justify-content: center;
    height: 100%;
}    
.navbar .flex {
    justify-content: space-between;
}    

.navbar {
    
    background-color: var(--primary-color);
    height: 60px;
}    
a {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
}    
ul {
    list-style-type: none;
}    
.navbar .cubeEffect ul ,
.navbar .section-dropdown ul 
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
    padding-left: 4px;
}    


.navbar li {
    padding: 5px 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}    
 /*  -------------------------- */
.container {
    display: flex;
    margin: 0 auto;
    padding: 0 40px;
}    

.navbar input {
    height: 25px;
    width: 70px;
    margin: 5px 1px 0 0 ;
}    
.languages {
    display: flex;
    margin: 10px 0;
    margin-right: 80px;
}    
.languages a {
    
    margin: 0px 5px;
}    
.social {
    display: flex;
    margin-top: 5px;
    margin-right: 40px;
    margin-left: 100px;
}    
.social a {
    margin: 0 5px;
}    
.navbar .fa-search {
    border: 1.5px #fff solid ;
    margin: 0 ;
    padding: 2px;
    border-radius: 5px;

   
}    
.search-bar {
    display: flex;
    position: relative;
    margin: 0 0 0 60px;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 35px;
    align-items: flex-end;
    
    
}    
.search-bar a{
 
    margin: 0;
    padding: 0;
    
}    

.tooltip input{
 opacity: 0; 
width: 10px; 
padding: 1px 3px;
transition: 0.5s ;
}
.navbar .search-bar:hover .tooltip input{
 opacity: 1; 
width: 200px; 
}
/* coulda use pointer event */


p {
    color: black;
}    


.cubeEffectFather a {
    position: relative;
}    

.cubeEffect  a:before {
    content: '';
    height: 11px;
    width: 11px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 3px #fff solid;
    border-right: 3px #fff solid;
    opacity: 0  ;
    transition: 0.5s;
}      
 .cubeEffect a:hover:before {
    opacity: 1  ;
    transform: translate(9px, 9px);
    z-index: 5;
}      
.cubeEffect a:after {
    content: '';
    bottom: -3px;
    left: 9px;
    height: 12px;
    width: 11px;
    position: absolute;
    border-top: 3px #fff solid;
    border-left: 3px #fff solid;
    opacity: 0  ;
    transition: 0.4s;
    z-index: 5;

}      

.cubeEffect a:hover:after {
    opacity: 1  ;
    transform: translate(-18px, -9px);
}      











/* --------------------------------------------------------------------------------------------- */

/* body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;
} */  

.slider{

  position: relative;
  width: 100%;
  height: 510px;
  overflow: hidden;
   z-index: 1; 
  top: -103px;
}  

.slides{
  width: 500%;
  height: 510px;
  display: flex;
}  

.slides input{
  display: none;
}  

.slide{
  width: 20%;
  transition: 2s;
 
}  


.slide img{
  width: 100%;
  height: 510px;
}  

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  margin-left: 240px;
  display: flex;
  justify-content: center;
}  

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}  

.manual-btn:not(:last-child){
  margin-right: 40px;
}  

.manual-btn:hover{
  background: #40D3DC;
}  

#radio1:checked ~ .first{
  margin-left: 0;
}  

#radio2:checked ~ .first{
  margin-left: -20%;
}  

#radio3:checked ~ .first{
  margin-left: -40%;
}  

#radio4:checked ~ .first{
  margin-left: -60%;
}  

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}  

.navigation-auto div{

  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}  

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}  
/*   
#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}  

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}  

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}  

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}  
      
*/


.slider::before {

  content: '';
  height: 150px;
  width: 100%;
  background-image: linear-gradient(black,rgba(0, 0, 0, 0.6), transparent);
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 3  ;
}
 

.blaknav a {
  color: #fff;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1.1fr);
  gap: 20px;
  justify-content: center;
   align-items: center; 
  height: 100%;
}
.grid-4 {
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}
.blaknav .grid{
  
  grid-template-columns: repeat(3 , 1fr) ;
}

.blaknav .grid >*:nth-child(1) {
  grid-column: 1 / span 1;
  z-index: 500;
}
.blaknav .grid >*:nth-child(2) {
  display: flex;
  grid-column: 2 / span 2;
}
.ddb  {
  padding: 10px;
  width: 10px;
  height: 10px;
}





.dropbtn {
 
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  height: 60px;
  
}

.dropdown-content {
  display: none;
 position: absolute;
  top: 60px;
  left: -250px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 800px;
  height: 100px;
}

.dropdown-content a {
  color: black;
  padding: 12px 40px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-wrap: wrap;
}



.blaknav ul {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: flex-start;
  padding-top: 25px;
  padding-right: 0px;
  margin-right: -80px;
  z-index: 4;
} 
.blaknav img {
  margin-right: 50px;
  z-index: 4;
}
.blaknav .cubeEffect a:after {
  content: '';
  bottom: 10px;
  left: 21px;
 
 
}      
.blaknav .cubeEffect a:before {
  content: '';
  top: 15px;
  right: 10px;
}  
/* ------------------------------------------------------------------- */

.news .grid {
  grid-template-columns:repeat(4 , 1fr) ;
  grid-template-rows: repeat(3 , 1fr);

}
 .news .grid >*:nth-child(1)
{
  grid-column: 1 / span 2;
} 
.news .grid >*:nth-child(1) img {
  position: relative;
  width: 100%;
  height: 100%;
  
}


 .news .grid >*:nth-child(6)
{
  grid-column: 3 / span 2;
}

 .news .grid >*:nth-child(6) img
{
  width: 100%;
  height: 100%;
}

.news .grid >*:nth-child(7)
{
  grid-column: 1 / span 2;
}
.news .grid >*:nth-child(7) img
{
  width: 100%;
  height: 100%;
}
 
.card img {
  width: 100%;
}

.news .container {
  max-width: 1200px;
  padding: 0 40px 30px 40px;
  margin: 0 auto;
  overflow: auto;
 
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) ;
  padding:0 0px;
  height: 310px;
  margin: 10px 0 ;
 
}
.news .container .card a {
  padding: 10px;
  margin: 20px;
  color: rgb(126, 126, 247);
}
.news .container .card {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
/* .news .container {
  overflow: hidden;
} */

.news .more-head h2{
  color: rgb(62, 62, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.news a{
color: rgb(22, 2, 66);
}
.more {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 300px;
  left: 70px;
  top: -30px;

}
.news .grid >*:nth-child(1) a {
  position: relative;
 top: -100px;
 left: 0;
 color: rgb(255, 255, 255);
}
.news .grid >*:nth-child(6) a {
  position: relative;
 top: -100px;
 left: 0;
 color: rgb(255, 255, 255);
}
.news .grid >*:nth-child(7) a {
  position: relative;
 top: -100px;
 left: 0;
 color: rgb(255, 255, 255);
}
/* ---------------------------------------------------------------------------------- */
.news-1 {
  margin-top: 50px;
  margin-bottom: 50px;

}
.news-1 .grid {
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
  
}
.news-1 .grid .card {
  height: 150px;
margin: 0;
}
.news-1 .grid .card img{
  width: 100%;
  height: 100%;

}

.news-1 .grid .card a {
  color: black;
}
.news-1 .grid .card .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 18px;
  border-bottom: 1px firebrick solid;
}
.news-1 .grid .card .head h3{
  color: #2056ae;
}
.news-1 .grid .card .head a{
  color: #40D3DC;
}




.news-1 .grid >*:nth-child(1) {
  grid-row: 1 /span 2;
  height: 330px;
}
.links .detail {
  font-size: 12px;
  color: #22767a;
  padding-right: 20px;
  padding-top: 5px;
}
.links a {
  font-size: 15px;
  line-height: 1.5;
  color: #22767a;
  padding-right: 20px;
  padding-top: 50px;
  
}
.links {
  overflow: scroll;
  height: 275px;
  padding: 10px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++ */

.bg-dark,.btn-dark {
  color:  #fff;
  background-color: #333333;
}   
.footer {
  margin-top: 0px;
  padding-top: 50px;
}
.footer .social a{
  margin: 0 6px;
}
.footer .grid {
  align-items: center;
  direction: rtl;
}
.footer .grid-4 >*:nth-child(1) a{
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding: 5px 6px;
  color: #f1f1f1b5;
}
.footer .grid-4 >*:nth-child(2) a{
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding: 6px 6px;
  color: #f1f1f1b5;
}
.footer .grid-4 >*:nth-child(2) {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -20px;
}
.footer .grid-4 {
  padding-bottom: 100px;
  border-bottom: 1px #40D3DC solid;
}
.footer .grid-4 >*:nth-child(3){
  grid-column: 3 / span 2;
}
.footer .grid-4 >*:nth-child(1) a:hover ,
.footer .grid-4 >*:nth-child(2) a:hover 
{
color: #fff;
}
.footer .social-detail {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-top: 10px;
 padding-bottom: 25px;
 padding-left: 10px;
}
.footer .social-detail a{
  font-size: 14px;
  color: #f1f1f1b5;
  padding-top: 15px;
}
.footer .social-detail .fa {
  padding: 0px 10px;
}
.footer .copy-right {
  background-color: #fff;
  padding: 30px;
  color: rgb(51, 51, 51);
  line-height: 2;
}
.footer .map {
 
  display: flex;
  position: relative;
  right: 0px;
}
#gmap_canvas {
  width: 100%;
}











/* -------------------------------------------------- */
@media (max-width: 768px) {
  .news .grid {
    grid-template-columns:repeat(1 , 1fr) ;
  }
  .grid-4 {
    grid-template-columns: repeat(1,1fr);
   
  }
  .footer .grid-4 >*:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-bottom: 60px;
    position: relative;
    right: 20px;
   
  }
 
  .footer .grid-4 >*:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
    top: -20px;
  }
  
  .footer .grid-4 >*:nth-child(3){
    grid-column: 1 / span 1;
  }




  .news .grid >*:nth-child(1)
  {
    grid-column: 1 / span 1;
  } 

  
  
   .news .grid >*:nth-child(6)
  {
    grid-column: 1 / span 1;
  }
  
  
  .news .grid >*:nth-child(7)
  {
    grid-column: 1 / span 1;
  }
  .slider{
    position: relative;
 top: -50px;
    height: 200px;
  
  }  
  .slides{
    width: 500%;
    height: 200px;
    display: flex;
  }  
  
  .slide img{
    width: 100%;
    height: 200px;
  }  
  .slider::before {
    display: none;
  }
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    margin-left: -200px;
    display: flex;
    justify-content: center;
  }  
  .navbar::before {
    content: '';
    height: 150px;
    width: 100%;
    background-image: linear-gradient(black,rgba(0, 0, 0, 0.6), transparent);
    position: absolute;
    top: 0px;
    right: 100px;
    z-index: -3  ;
  }
  .navbar {
   padding-bottom: 200px;
    background-color: transparent;
} 
.navbar::before {
  
  right: 10px;
 
}  
 .blaknav img {
  margin-right: 50px;
  margin-top: -120px;
  z-index: 4;
} 

  .news-1 .grid {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
  }
.flex {
  flex-wrap: wrap;
}
.navbar .cubeEffect ul {
  display: none;
}
.blaknav .grid >*:nth-child(2) {
  display: none;
}
.blaknav .grid >*:nth-child(1) {
  position: relative;
  top: -40px;
  z-index: -50;
}
.navbar .search-bar:hover .tooltip input{
  opacity: 1; 
 width: 100px; 
 }
 .footer .map {
 
  display: flex;
  position: relative;
  right: 80px;
}
#gmap_canvas {
  width: 70%;
}


  }
  