
:root {
    --title-color: #2ECC71;
    --title-color2: #3498DB;
    --text-color: #999999;

  }    
  body {
    background-color: #FFFFFF ;
  }
.title-cl {
    color: var(--title-color);
}
.title-cl2 {
    color: var(--title-color2);
}
.text-cl {
    color: var(--text-color);
    line-height: 1.5;
    text-align: justify;
    font-size: 17.9px;
    font-weight: 500;
  
}



.t16 {
    font-size: 18px;
    font-weight: 600;
}


.cubeEffect {
    margin-right: 300px;
}
.blaknav {
    background-color: #184183;
    height: 150px;
}   
.course img {
 
    width: 600px;
   
    align-self: flex-start;
    float: left;
    margin-right: 35px;
    margin-top: 10px;
    
}
.course {
   
    margin-top: 30px;
    color: black;
    border-top: 6px solid powderblue;
    border-radius: 5px;
}
.course .text {
    margin-top: 10px;
    margin-bottom: 50px;
    align-self: flex-start;
}
.course h3 {
    margin: 35px 0;
    font-size: 16px;
    font-weight: 600;
}

.courses .grid {
    grid-template-columns: repeat(1,1fr);
}




.courses .container {
    display: flex;
    flex-direction: column;
}











@media (max-width: 768px) {
    .course img {
        width: 85vw;
        margin-bottom: 20px;
    }
    .blaknav {
        background-color: #184183;
        height: 200px;
        position: absolute;
        top: 0;
       
      
    }   
    .blaknav .grid >*:nth-child(1) {
        z-index: 3;
        position: relative;
        top: 100px;
    
      }
      
       .search-bar {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 50;
       }
}